#div1 {
    width: 400px;
    height: 200px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
.redDashedBorder {
    border: 1px dashed red !important;
}
.blueDashedBorder {
    border: 1px dashed blue !important;
}
#guideline {
    margin: 2px auto;
    border: 1px solid #c80cce;
}

.muted {
    opacity: .4;
}